simulations/RoundRobinSimulation/results/*
.settings/language.settings.xml
/.computed/

.DS_Store
**/.DS_Store
**/vec_res.csv

DataAnalysis/.vscode/*
DataAnalysis/data/*
*.csv
**/.vscode/*
*.vec
*.vci
*.anf
.settings/language.settings.xml
src/Generatore.zip
